body{
    margin: 0;
}
#landing{
    padding-top: 3%;
    margin-left: 2%;
}


#masthead{
    background-color:#1d4554;
    height: 400px;
    margin: 0;   
}

#profile{
    height: 300px;
    width:300px; 
    border-radius: 50%;
    display: inline;
    float: left;
}

#heading-box{
    display: inline;
    margin-top: 1%;
    padding-bottom: 15px;
    float: left;
    margin-top: 5%;
    margin-left: 2%;
    padding-bottom: 15px;
    border-left: 2px solid white;
}
  
h1{
    font-size: 40px;
    letter-spacing: 3px;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: white;
    padding-left: 20px;
    text-shadow: 4px 2px 4px #000000;
    
    
}
 h2{
    font-size: 20px;
    letter-spacing: 3px;
    text-align: left;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: white;
    padding-left: 23px;
    text-shadow: 4px 2px 4px #000000;
 }
 h4{
    display: block;
    color: #1d4554;
}
.header-col{
    display: none;
}

.photo-set{
    width: 275px;
    height: auto;
    padding:0px;
}
.indicator{
   display: none;
}
.full-width{
    width: 100%;
}
.full-width p{
    margin: 50px;
}
#left-col{
    float: left;
    width: 30%;
    
}
#mid-col{
    width: 40%;
    float: left;
    text-align: center;
}
#right-col{
float: left;
width: 30% ;
text-align: right;
}

@media only screen and (min-width: 1000px){
    
#landing{
    padding-top: 10%;
    margin-left: 20%;
}
#masthead{
        height: 80%;
       
        
    }


.right-aside{
    position: relative;
    width: 600px;
    height: 300px;
    float: right;
    margin-right: 50px;
    margin-top: 25px;
}
.left-aside{
    width: 45%;
    height: 300px;
    background-color: white;
    float: left;
    margin-left: 50px;
    margin-top: 25px;
}
.left-aside h1{
    text-align: left;
    font-size: 100px;
    letter-spacing: 3px;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: black;
    text-shadow: none;
}
.indicator{
    display: block; 
}
.header-col{
    display: inline;
    height:20%;
    background-color: #1d4554;
}
.header-col h1{
    font-size: 30px;
    letter-spacing: 3px;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: white;
}
.header-col h1:hover{
    cursor: pointer;
    color: #24a368;
}
h1{
    font-size: 50px;
    
}
 h2{
    font-size: 25px;
 }
 h3{
    font-size: 25px;
    letter-spacing: 3px;
    text-align: right;
    font-family: 'Quicksand', sans-serif;
    font-weight: 400;
    color: white;
    
   
 }

 
    
}